rules_version = '2';
service firebase.storage {
  // only allow read access to everyone
  match /b/{bucket}/o {
    match /products/{allPaths=**} {
      allow read;
    }

	match /images/{allPaths=**} {
	  allow read;
	}

	// allow read, write access for admin(s) only
    match /{allPaths=**} {
      allow read, write: if request.auth != null &&
                   request.auth.token.admin == true;
    }
  }
}
