@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Nunito&family=Ubuntu&display=swap");

.noscript-container {
	height: 300px;
	width: 550px;
	background: rgb(240, 237, 67);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 17px;
	outline: 10px #deb447 solid;
}
[id^="noscript"] {
	color: #000000;
	font-family: "Courier New", Courier, monospace;
}
#noscript-main-text {
	font-size: 24px;
	font-weight: 900;
}
#noscript-sub-text {
	font-size: 14px;
	font-weight: 700;
}

/* Instead of editing the tailwind css, this file is edited to apply the changes at
 * the top level and initial setup of the project
 */

body {
	font-family: "Nunito", sans-serif;
}

a {
	font-family: "Ubuntu", sans-serif;
}
a:link,
a:visited {
	color: #87ceeb;
}
a:hover,
a:target,
a:focus-visible,
a:focus-within {
	color: rgb(255, 183, 77);
}

.books_title,
h1,
h2,
h3,
h4,
h5 {
	font-family: "Fredoka", sans-serif;
}
